<footer class="site-footer">
  <div class="container">
    <div class="footer-left">
      <p>{{ section.settings.footer_text }}</p>
    </div>

    <div class="footer-right">
      <ul class="social-links">
        {% if section.settings.twitter %}
          <li><a href="{{ section.settings.twitter }}">Twitter</a></li>
        {% endif %}
        {% if section.settings.instagram %}
          <li><a href="{{ section.settings.instagram }}">Instagram</a></li>
        {% endif %}
        {% if section.settings.facebook %}
          <li><a href="{{ section.settings.facebook }}">Facebook</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "text",
      "id": "footer_text",
      "label": "Footer Text",
      "default": "© 2025 Quill & Page. All rights reserved."
    },
    {
      "type": "url",
      "id": "twitter",
      "label": "Twitter URL"
    },
    {
      "type": "url",
      "id": "instagram",
      "label": "Instagram URL"
    },
    {
      "type": "url",
      "id": "facebook",
      "label": "Facebook URL"
    }
  ],
  "presets": [
    {
      "name": "Footer",
      "category": "Footer"
    }
  ]
}
{% endschema %}
